<%- include("template/header", {tituloweb: "404"}) %>

<!-- cargar el body desde header -->
    <h1>Pagina 404</h1>
    <h2><%= descripcion %></h2>
<!-- Cargar el footer -->
<%- include("template/footer") %>