<!-- el guion para descifrar código html -->
<!-- el igual para descifrar datos puros -->
<!-- cargar el header -->
<%- include("template/header", {tituloweb: "HQ5 SAS"}) %>
<!-- cargar el body desde header -->
<!-- contenido de la página y clase area -->
<div class="context">
    <h1 >HQ5 SAS</h1>
</div>
<div class="area" >

</div > 
<!-- Cargar el footer -->
<%- include("template/footer") %>