<!-- cargar el header -->
<%- include("template/header", {tituloweb: "Reporte Horizontal"}) %>
<!-- Contenido de la página /reporte horizontal -->
<section class="login">
    <div class="login_box">
        <div class="left">
            <div class="contact">
                <form action="/procesar/" method="POST" style="display: block;" id="Report">
                    <h3>REPORTE HORIZONTAL</h3>
                    <input type="text" placeholder="ID PERIODO" name="id" id="entrada">
                    <button class="submit">LET'S GO</button>
                </form>
                <div id="load" style="display: none;">
                    <p>
                        <h5>Estamos procesando tu solicitud...</h5>
                        <img src="/images/loading.gif" width="300" height="300">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cargar el footer -->
<%- include("template/footer") %>