<!-- navbar de mi pagina y es igual para todas las renderizaciones -->
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid text-white">
        <a href="/" class="navbar-brand">
            <img src="https://raw.githubusercontent.com/HQ5SAS/Recursos_Publicos/main/recursos/hq5_logo.png" height="28" alt="HQ5SAS">
        </a>
        <!-- boton responsive -->
        <button type="button" class="navbar-toggler text-white" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/home" class="nav-item nav-link active text-white">Inicio</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">Reportes</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="/ReporteHorizontal/" class="dropdown-item text-white">Reporte Horizontal</a>
                    </div>
                </div>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">Procesos</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="/txtSS/" class="dropdown-item text-white">TxtSS</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</nav>